MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=yourapp@gmail.com
MAIL_PASS=your_app_password_here
MAIL_FROM="Organic Editorial <yourapp@gmail.com>"

CLOUDINARY_CLOUD_NAME=dyznrzmue
CLOUDINARY_API_KEY=xxxxx
CLOUDINARY_API_SECRET=xxxxx